<div id="<%= dom_id aluno %>">
  <p>
    <strong>Nome:</strong>
    <%= aluno.nome %>
  </p>

  <p>
    <strong>Idade:</strong>
    <%= aluno.idade %>
  </p>

  <p>
    <strong>Data de nascimento:</strong>
    <%= aluno.data_de_nascimento %>
  </p>

  <p>
    <strong>Contato:</strong>
    <%= aluno.contato %>
  </p>

</div>
